/*---------------
 Special font  
 ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
/*---------------------------
 main body style 
-----------------------------*/
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*---------------------------
 common utilities
 ---------------------------*/
section{
    margin-top: 40px;
}
.button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 10px 24px;
}
.button .fa-arrow-right{
    margin: 0px 8px;
}
/* header style start */
header{
    background-color: #2D25A0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 130px;
}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}
nav .navbar{
    display: flex;
    padding-left: 0px;
}
.navbar li{
    list-style: none;
    margin-right: 36px;
}
.navbar li a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
}
header .head-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-column-gap: 102px;
}
.head-title h1{
    font-size: 60px;
}

.head-image img{
    width: 546.01px;
    height: 438px;  
}
header:hover .head-image img{
    transform-origin: top bottom;
    transform: rotateY(360deg);
    transition: transform 2s linear;
}
/* main section */
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* player style start */
.player-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 30px;
}
.player{
    width: 330px;
    height: 460px;
    padding: 15px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}
.player-name{
    font-family: 'Poppins';
    font-size: 28px;
    font-weight: 700;
    margin: 10px 0px;
}
.player img{
    width: 100%;
}
.player-info{
    margin-bottom: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    line-height: 26px;
    color:#6C6C6C;
}
/* result style */
#result{
    background-color: #2D25A0;
    padding: 3%;
}
.result-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.result{
    background-color: #fff;
    display: grid;
    grid-column-gap: 6px;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin: 5px;
    padding: 15px;
    justify-items: center;
}
.result span{
    font-size: 30px;
    font-weight: 700;
    color: #E02C6D;
}
.result p{
    grid-area: 2/1/2/4;
    font-size: 14px;
    margin-bottom: 0;
    color: #969BAB;
}
.result img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.result-title{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
}
.result-title p{
    color: #E02C6D;
    margin: 0px;
}
.result-title h2{
    margin: 0px;
    font-size: 28px;
}
/* highlights style */
#all-highlights{
    padding: 30px 0px;
}
.highlights-container{
    display: flex;
    justify-content: center;
}
.highlights{
    padding: 0px 96px;
    font-family: 'Poppins';
}
.highlights h2{
    font-size: 48px;
    margin-bottom: 0;
}
.highlights p{
    font-size: 16px;
    margin-bottom: 28px;
    color:#6C6C6C;
    line-height: 28px;
}
.highlights-match img{
    width: 567px;
    height: 427px;
    padding: 0px 60px;
}
/* --------points table style------------ */
#points-table{
    width: 100%;
    padding: 10px 0px;
    margin-bottom: 80px;
    border-bottom: 1px solid #000;
    background-color:#2D25A0;
}
.points-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 28px;
    padding: 15px 0px;
    color: #fff;
}
.table-head{
    margin: 0px 102px;
    background-color: #e7e7e8;
    display: grid;
    text-align: center;
    grid-template-columns: 500px 1fr 1fr 1fr;
    grid-template-rows: repeat(5,60px);
}
.table-cell{
    border-bottom: 2px solid #000;
    color: #E02C6D;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-transform: capitalize;
    font-size: 18px;
    font-family: serif;
    letter-spacing: 1px;
}
.more-table{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* footer style */
footer{
    text-align: center;
    margin-bottom: 60px;
}
footer .logo{
    width: 483.87px;
    height: 110px;
}
.social-icon i{
    color: #969BAB;
    margin: 0px 10px;
    padding: 8px;
    background: #e7e7e8;
    border-radius: 50%;
}
/* responsive style  */
@media (max-width:480px) {
    nav{
        display: none;
    }
    header{
        padding: 45px 42px;
    }
    header .head-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 102px;
      }
      .head-title h1{
          font-size: 50px;
      }
      .head-image img{
          width: 100%;
          height: auto;
          margin-top: 50px;
      }
    .player-container{
        grid-template-columns: repeat(1,1fr);
    }
    .highlights-container{
        flex-direction: column;
        column-gap: 10px;
    }
    .table-head {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5,70px);
    }
    #all-highlights{
        padding: 0px 16px;
    }
    .highlights {
        padding: 0px 40px;
    }
    .highlights-match{
        width: 80%;
        padding: 0px 40px;
    }
    .highlights-match img{
        width: 100%;
        height: 278px;
        margin-top: 29px;
        padding: 0px;
    }
    .highlights h2 {
        font-size: 30px;
    }
    #result{
        width: 70%;
    }
    footer .logo{
        width: 270.8px;
        height: 68.98px;
    }
    .result-container {
        display: flex;
        flex-direction: column;
    }
}
@media (min-width:480px) and (max-width:768px) {
    nav{
        display: none;
    }
    header{
        padding: 45px 42px;
    }
    header .head-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 102px;
      }
      .head-title h1{
          font-size: 50px;
      }
      .head-image img{
          width: 100%;
          height: auto;
          margin-top: 50px;
      }
      .player-container{
        padding: 0px 15px;
        grid-template-columns: repeat(2,1fr);
    }
    .player{
        width: auto;
    }
    .highlights-container{
        flex-direction: column;
        column-gap: 10px;
    }
    .table-head {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: repeat(5,70px);
    }
    #all-highlights{
        padding: 0px 16px;
    }
    .highlights {
        padding: 0px 40px;
    }
    .highlights-match{
        width: 80%;
        padding: 0px 40px;
    }
    .highlights-match img{
        width: 100%;
        height: 278px;
        margin-top: 29px;
        padding: 0px;
    }
    .highlights h2 {
        font-size: 30px;
    }
    #result{
        width: 70%;
    }
    footer .logo{
        width: 270.8px;
        height: 68.98px;
    }
    .result-container {
        display: flex;
        flex-direction: column;
    }
}
